* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


html {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}

body {
	background-color: #AAAAAA;
}

header{
	padding: 13px 23px;
	background-color: #FFFFFF;
}

.logo-img {
	vertical-align: middle;
}

.title{
	display: inline;
	vertical-align: middle;
	font-size: 2rem;
}

.btn-primary{
    color: #FFFFFF;
    background-color: rgb(0, 195, 255);
    border-color: rgb(0, 195, 255);
    padding:5px;
    border-radius: 5px;;

}

.btn-secondary{
    color: #AAAAAA;
    background-color: #FFFFFF;
    border-color: #AAAAAA;
    padding:5px;
    border-radius: 5px;


}

main {
	max-width: 900px;
	margin: 40px auto 10px;
	background-color: #FFFFFF;
	border-radius: 12px;
}

.header-main {
	padding: 20px 40px 10px;
	border-bottom: 3px solid #AAAAAA;
}

.list {
	padding: 15px;
    
}

ul {
	list-style: none;

}

li{
    margin-bottom: 0.8em;
}


.arrow-down {
	vertical-align: middle;
}

.title-section {
	display: inline;
	vertical-align: middle;
}

.green {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	border: 1px solid green;
	border-radius: 10em;
	color: green;
	font-size: .5rem;
	text-align: center;
	line-height: 1.5em;
}

.red {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	border: 1px solid rgb(200, 18, 18);
	border-radius: 10em;
	color: rgb(200, 18, 18);
	font-size: .5rem;
	text-align: center;
	line-height: 1.5em;
    
}

.todo-part {
	vertical-align: middle;
    
    
    
    
}

.tag {
	display: inline-block;
	padding: 0.3em;
	border-radius: 0.8em;
    color:#FFFFFF;
    font-size: 0.6em;
    
}

.blue {
	background-color: rgb(0, 195, 255);
	border: 1px solid rgb(0, 195, 255);
    

}

.violet{
    background-color: rgb(98, 102, 207);
	border: 1px solid rgb(98, 102, 207);
}

.dgreen{
    background-color: rgb(28, 185, 138);
	border: 1px solid rgb(28, 185, 138);
}
.orange{
    background-color: rgb(236, 165, 23);
	border: 1px solid rgb(236, 165, 23);
}
.magenta{
    background-color: rgb(190, 83, 181);
	border: 1px solid rgb(190, 83, 181);
}
.lgreen{
    background-color: rgba(120, 223, 46, 0.867);
	border: 1px solid rgba(120, 223, 46, 0.867);
}